# Created by .ignore support plugin (hsz.mobi)
.idea
.ipynb_checkpoints
src/nmrsim/.cache/
.cache
/coverage/
__pycache__/
*.pyc
.pytest_cache/
.ipynb_checkpoints
env/
venv/
.venv/
eggs/
.eggs/
*.egg-info/
build
dist
.vscode/
docs/build
docs/source/_build/
.tox
.DS_Store
.coverage*
# Ignore generated NMRsim binary files
*.npz