# Created by .ignore support plugin (hsz.mobi)
.idea
.ipynb_checkpoints
nmrsim/.cache/
.cache
/coverage/
__pycache__/
*.pyc
.pytest_cache/
.ipynb_checkpoints
venv
eggs/
.eggs/
*.egg-info/
build
dist
.vscode/
docs/build
