[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.org/simple"

[requires]
python_version = "3.6"

[dev-packages]
pytest = "*"
matplotlib = "*"

[packages]
numpy = "*"
scipy = "*"
"h5py" = "*"
