name: Test Sphinx Build

on:
  push:
    branches:
      - master
      - develop
      - release-*

jobs:
  docs:
    runs-on: ubuntu-latest
#    strategy:
#      matrix:
#        python: [3.6, 3.7, 3.8, 3.9]
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          python --version
      - name: Install package in dev mode
        run:
          python -m pip install -e ".[dev]"
      - name: Install Pandoc
        run:
          sudo apt-get install pandoc
      - name: Build HTML
        run:
          sphinx-build -W -b html -d docs/doctrees docs/source docs/build/html